<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Dining Hall</string>
			<key>checked</key>
			<integer>1</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>additionalRows</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>64 Degrees</string>
			<key>png</key>
			<string>Sixty-Four Degrees.png</string>
			<key>checked</key>
			<true/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Canyon Vista</string>
			<key>checked</key>
			<true/>
			<key>png</key>
			<string>Canyon Vista.png</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Foodworx</string>
			<key>png</key>
			<string>FoodWorx.png</string>
			<key>checked</key>
			<true/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Pines</string>
			<key>png</key>
			<string>Pines.png</string>
			<key>checked</key>
			<true/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Roots</string>
			<key>png</key>
			<string>Roots.png</string>
			<key>checked</key>
			<true/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
	<dict>
		<key>additionalRows</key>
		<integer>40</integer>
		<key>cellIdentifier</key>
		<string>idCategoryCell</string>
		<key>checked</key>
		<integer>1</integer>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>label</key>
		<string>Convoy</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Red Moon Noodle House</string>
		<key>png</key>
		<string>https://s3-media1.fl.yelpcdn.com/bphoto/Gyw771mIuKzelHjjbsV85A/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Domo Kitchen</string>
		<key>png</key>
		<string>https://s3-media1.fl.yelpcdn.com/bphoto/9zV13NszQeWpeeVCIUqe3Q/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>SOHO</string>
		<key>png</key>
		<string>https://s3-media2.fl.yelpcdn.com/bphoto/-ub4yiBND_cXiUodvUqEnQ/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Dede's Teajuice City</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/O85NVHvHO5uJ6iWXNA9ufA/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Little Sheep Mongolian Hot Pot</string>
		<key>png</key>
		<string>https://s3-media2.fl.yelpcdn.com/bphoto/G_3YiVi2JaTp24CC-FdG9g/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Tasty Noodle House</string>
		<key>png</key>
		<string>https://s3-media2.fl.yelpcdn.com/bphoto/HrE5s1S18R8E3AmU1aaIEg/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Phuong Trang</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/NktLsVNjCqsHUay07GBqeQ/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Sizzling Pot King</string>
		<key>png</key>
		<string>https://s3-media1.fl.yelpcdn.com/bphoto/8rtB5xCVg6FEmspAbM1mKA/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Dumpling Inn - Shanghai Saloon</string>
		<key>png</key>
		<string>https://s3-media3.fl.yelpcdn.com/bphoto/fLqqh2O_NwqnaYPtJtyEcA/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Spot KTV &amp; Restaurant</string>
		<key>png</key>
		<string>https://s3-media2.fl.yelpcdn.com/bphoto/WPqJ2v1MN2n-4atlLsRc2g/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>FuAn Garden</string>
		<key>png</key>
		<string>https://s3-media1.fl.yelpcdn.com/bphoto/-0xkJIVO41LhLJGFq-WOUg/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>China QuikWok</string>
		<key>png</key>
		<string>https://s3-media2.fl.yelpcdn.com/bphoto/e8srgfMgW1ZOOTTPnLOnFQ/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Spicy City Chinese Restaurant</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/MVpAXgsK3fXsDD-MzbV_pw/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Spicy House</string>
		<key>png</key>
		<string>https://s3-media3.fl.yelpcdn.com/bphoto/KrmpH-KrsRFLpE8JKdgE4Q/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Infini Tea</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/owga0mRaDaL8A44GlEcl_A/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Chef Chin Restaurant</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/DWjp48uhMDK5pL-IOnHQcQ/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Liang's Kitchen</string>
		<key>png</key>
		<string>https://s3-media3.fl.yelpcdn.com/bphoto/lDZdxkjntGAYuFTOuYkOQA/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Noble Chef</string>
		<key>png</key>
		<string>https://s3-media2.fl.yelpcdn.com/bphoto/z-8zZ_vwuTU1O9_Eq5Q74A/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Hong Kong Banjum</string>
		<key>png</key>
		<string>https://s3-media3.fl.yelpcdn.com/bphoto/G8lhhz9yXwYuA9vM0TE8mg/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Village Kitchen</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/P55A7gAIeF98fg359ZoCQA/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Xi'an Kitchen</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/M7gV07ipYsbp4GQ7u9Gihw/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>E &amp; Drink</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/4I8waIa-e3Uyh9sFktoWEQ/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Imperial Mandarin Restaurant</string>
		<key>png</key>
		<string>https://s3-media3.fl.yelpcdn.com/bphoto/8xi77crCBUi_HuP-qEkK_w/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>China Max</string>
		<key>png</key>
		<string>https://s3-media3.fl.yelpcdn.com/bphoto/wljlu2Sk2qxzUXVE6srBUQ/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Sieu Sieu BBQ</string>
		<key>png</key>
		<string>https://s3-media1.fl.yelpcdn.com/bphoto/JxDJ93x1yXzjrVzBEoezvA/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Szechuan Chef</string>
		<key>png</key>
		<string>https://s3-media1.fl.yelpcdn.com/bphoto/gqlADO15eDNv0RUxDr7ASA/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Jasmine Express To Go</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/P0JXbRjpv_iNaRqiWStjsw/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Sam Woo BBQ Restaurant</string>
		<key>png</key>
		<string>https://s3-media1.fl.yelpcdn.com/bphoto/Mlu6oM8VCfdVdG_myaBQRA/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Szechuan Taste</string>
		<key>png</key>
		<string>https://s3-media1.fl.yelpcdn.com/bphoto/7_9kXX8u9g5r1rt_jyxhhQ/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>The Rice Garden</string>
		<key>png</key>
		<string>null</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Golden City Restaurant</string>
		<key>png</key>
		<string>https://s3-media3.fl.yelpcdn.com/bphoto/2ZdNehyIUVrp4fjmvhEDMg/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Fortune Cookie Express</string>
		<key>png</key>
		<string>https://s3-media2.fl.yelpcdn.com/bphoto/NHhAAosvWeMR6KlvkDLTQw/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Gourmet City</string>
		<key>png</key>
		<string>https://s3-media2.fl.yelpcdn.com/bphoto/OpR3ElPPkgrrz_2YsQb-JA/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Green China Grill</string>
		<key>png</key>
		<string>https://s3-media3.fl.yelpcdn.com/bphoto/7-CF2vtQv51rh_ZNnvhLpg/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Emerald Chinese Cuisine</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/-OSyW9_PIpGUpY3GHAm_VA/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Tea Station</string>
		<key>png</key>
		<string>https://s3-media2.fl.yelpcdn.com/bphoto/wj4JzMNXQxU0ax8R3ow2nw/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Jasmine Seafood Restaurant</string>
		<key>png</key>
		<string>https://s3-media4.fl.yelpcdn.com/bphoto/Qgjg0NlCCV6-oUSFO5fCBQ/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Dumpling Hut</string>
		<key>png</key>
		<string>https://s3-media1.fl.yelpcdn.com/bphoto/jLFdCDB1_fdMSDQ8RlDJWQ/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>King Bistro</string>
		<key>png</key>
		<string>https://s3-media2.fl.yelpcdn.com/bphoto/FIYntYqyZNzs4M28niwZqg/ms.jpg</string>
	</dict>
	<dict>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>idItemCell</string>
		<key>checked</key>
		<true/>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>label</key>
		<string>Sunrise Buffet</string>
		<key>png</key>
		<string>https://s3-media3.fl.yelpcdn.com/bphoto/3kd7kh1k7T8RzpE-L-sWYA/ms.jpg</string>
	</dict>
</array>
</array>
</plist>
