<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Dining Hall</string>
			<key>checked</key>
			<integer>0</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>additionalRows</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>64 Degrees</string>
			<key>png</key>
			<string>Sixty-Four Degrees.png</string>
			<key>list1</key>
			<false/>
			<key>list2</key>
			<false/>
			<key>list3</key>
			<false/>
			<key>list4</key>
			<false/>
			<key>checked</key>
			<false/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Canyon Vista</string>
			<key>png</key>
			<string>Canyon Vista.png</string>
			<key>list1</key>
			<false/>
			<key>list2</key>
			<false/>
			<key>list3</key>
			<false/>
			<key>list4</key>
			<false/>
			<key>checked</key>
			<false/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Foodworx</string>
			<key>png</key>
			<string>FoodWorx.png</string>
			<key>list1</key>
			<false/>
			<key>list2</key>
			<false/>
			<key>list3</key>
			<false/>
			<key>list4</key>
			<false/>
			<key>checked</key>
			<false/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Pines</string>
			<key>png</key>
			<string>Pines.png</string>
			<key>list1</key>
			<false/>
			<key>list2</key>
			<false/>
			<key>list3</key>
			<false/>
			<key>list4</key>
			<false/>
			<key>checked</key>
			<false/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Roots</string>
			<key>png</key>
			<string>Roots.png</string>
			<key>list1</key>
			<false/>
			<key>list2</key>
			<false/>
			<key>list3</key>
			<false/>
			<key>list4</key>
			<false/>
			<key>checked</key>
			<false/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>label</key>
			<string>2</string>
			<key>checked</key>
			<integer>0</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>additionalRows</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>21</string>
			<key>png</key>
			<string></string>
			<key>list1</key>
			<false/>
			<key>list2</key>
			<false/>
			<key>list3</key>
			<false/>
			<key>list4</key>
			<false/>
			<key>checked</key>
			<false/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
			<key>New item</key>
			<string></string>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>22</string>
			<key>png</key>
			<string></string>
			<key>list1</key>
			<false/>
			<key>list2</key>
			<false/>
			<key>list3</key>
			<false/>
			<key>list4</key>
			<false/>
			<key>checked</key>
			<false/>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
			<key>New item</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
