<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>10</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Dining Hall</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>64 Degrees</string>
			<key>png</key>
			<string>Sixty-Four-Degrees.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<false/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>64 North</string>
			<key>png</key>
			<string>Sixty-Four-Degrees.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>The Bistro</string>
			<key>png</key>
			<string>Bistro.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Cafe Ventanas</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Canyon Vista</string>
			<key>png</key>
			<string>Canyon Vista.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Club Med</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Foodworx</string>
			<key>png</key>
			<string>FoodWorx.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Goody&apos;s</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Pines</string>
			<key>png</key>
			<string>Pines.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Roots</string>
			<key>png</key>
			<string>Roots.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>13</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Campus - Restaurant</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Bombay Coast</string>
			<key>png</key>
			<string>Bombay Coast.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Burger King</string>
			<key>png</key>
			<string>Burger King.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Croutons</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Hi Thai</string>
			<key>png</key>
			<string>Hi Thai.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Home Plate</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Panda Express</string>
			<key>png</key>
			<string>Panda.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Round Table Pizza</string>
			<key>png</key>
			<string>Round Table.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Rubio&apos;s</string>
			<key>png</key>
			<string>Rubios.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Santorini</string>
			<key>png</key>
			<string>Santorini.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Shogun</string>
			<key>png</key>
			<string>Shogun.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Subway</string>
			<key>png</key>
			<string>Subway.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Tapioca Express</string>
			<key>png</key>
			<string>Tapioca.png</string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Zanzibar</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>9</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Campus - Store</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Earl&apos;s Market</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Goody&apos;s Market</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>John&apos;s Market</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Roger&apos;s Market</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Six College Market</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Village Market</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Food Co-op</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Sunshine Market</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>General Store Co-op</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>12</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Campus - Cafe</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Art of Espresso Cafe</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Cafe Ole</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Cups Outdoor Cafe</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Cups</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Peet&apos;s Coffee &amp; Tea</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Splash! Cafe</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Bella Vista</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Caroline&apos;s Seaside</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Come On In! Cafe</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Muir Woods</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Perks</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Starbucks</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>7</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Campus - Other</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Flavors of the World</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Incredi-Bowls</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>MOM College Center</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Jamba Juice</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Yogurt World</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Dlush Lounge</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>The Faculty Club</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>5</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Convoy - Cantonese</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Sam Woo BBQ</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Golden City </string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Jasmine Seafood</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Emerald</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Noble Chef</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>6</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Convoy - Szechuan</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>FuAn Garden</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Spicy City Chinese</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Spicy House</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Szechuan Taste</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Szechuan Chef</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Qiwei Kitchen</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>3</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Convoy - Coffee &amp; Tea</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Infini Tea</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>OOTea </string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Tea Station</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>7</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Convoy - Other</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Chef Chin Restaurant</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Tasty Noodle House</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Xi&apos;an Kitchen</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Gourmet City</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Little Sheep Hot Pot</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Spot KTV</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Liangs Kitchen</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>10</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Convoy - Japanese</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Tajima Ramen House</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Yakitori </string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Rakiraki </string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Wa Dining OKAN</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Yokohama</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Tsuruhashi  BBQ</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Shabu Shabu House</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Izakaya Sakura</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Sushi Dokoro </string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Yakitori Taisho</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>8</integer>
			<key>cellIdentifier</key>
			<string>idCategoryCell</string>
			<key>checked</key>
			<integer>1</integer>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>label</key>
			<string>Convoy - Korean</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Friends House Korean</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Manna Korean BBQ</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Do Re Mi House</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Convoy Tofu House</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Dae Jang Keum</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Mapo Korean BBQ</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Grandma Tofu</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<string>0</string>
			<key>cellIdentifier</key>
			<string>idItemCell</string>
			<key>checked</key>
			<true/>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>label</key>
			<string>Min Sok Chon</string>
			<key>png</key>
			<string></string>
			<key>utf8Name</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
