<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA59067C1BD2D3B6007B43FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5906931BD2D3B6007B43FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA59069E1BD2D3B6007B43FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
